@media only screen and (max-width: 31.25em) {
  /* Header Breakpoint*/

  header {
    width: 100vw;
    padding: 2.5rem 3rem;
    height: auto;
    position: relative;
  }

  /* Nav Links*/

  nav {
    display: flex;
    gap: 2rem;
  }

  .bgMobile {
    /* bg menu overlay */
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: var(--Black);
    opacity: 0;
    transition: opacity 1s;
  }

  .logo {
    max-width: 19rem;
    width: 19rem;
  }

  .hamburgerIcon {
    display: block;
    max-width: 2.5rem;
    width: 2.5rem;
    max-height: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    position: relative;
    z-index: 1000;
  }

  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4rem;
    height: 100vh;
    width: 70vw;
    background-color: white;
    z-index: 100;
    transform: translateX(-100%);
    transition: transform 0.6s;
  }

  .navbar__item {
    font-weight: 700;
    font-size: 3.5rem;
    color: var(--Black);
  }

  /* End Nav Links */

  /* Nav Account and Cart */

  .navAccount {
    gap: 2.5rem;
  }

  .shoppingCart {
    max-width: 3rem;
    width: 3rem;
  }

  .shoppingCart__popUp {
    width: 2.5rem;
    height: 2rem;
    font-size: 1.4rem;
  }

  .avatar {
    max-width: 5rem;
    width: 3.5rem;
  }

  .popUp {
    transform: translate(4%, 4%);
    left: unset;
    right: 0;
    width: 96vw;
    height: 34rem;
  }

  .popUp__title {
    height: 9.4rem;
    display: flex;
    align-items: center;
    font-size: 2.8rem;
  }

  .popUp__main {
    height: 24.6rem;
    padding: 3.5rem 2.5rem;
  }

  .main__productName {
    font-size: 2.3rem;
    line-height: 3.5rem;
    width: 30rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .empty__shoppingCart {
    font-size: 2rem;
  }

  .img--popUp {
    max-width: 6.67rem;
  }

  .img--trash {
    width: 2rem;
    display: block;
    height: auto;
    cursor: pointer;
  }

  /* End Header Breakpoint*/

  /* Main */

  main {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    height: auto;
  }

  .productImg {
    padding: 0;
    height: 40rem;
    overflow: hidden;
    display: block;
  }

  .img--big {
    border-radius: 0;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .arrow__container {
    top: 26rem;
  }

  .arrow--left {
    transform: translateX(35%);
    transition: transform 0.3s;
  }

  .arrow--left:hover {
    transform: scale(1.2) translateX(30%);
  }

  .arrow--right {
    transform: translateX(-35%);
    transition: transform 0.3s;
  }

  .arrow--right:hover {
    transform: scale(1.2) translateX(-30%);
  }

  /* product description */

  .ProductDescription {
    padding: 2.67rem;
  }

  .ProductDescription__description {
    font-size: 2rem;
  }

  .price {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
  }

  .current__price {
    font-size: 3.5rem;
  }

  .current_discount {
    font-size: 2.3rem;
  }

  .price_previous {
    font-size: 2.5rem;
  }

  .btn__container {
    flex-direction: column;
    width: 100%;
  }

  .counter_container {
    height: 7.33rem;
    width: 100%;
  }

  .counter {
    width: 10rem;
  }

  .button--add {
    width: 100%;
  }
}
