html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  display: grid;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

.e-commerce {
  width: 144rem;
  max-width: 144rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-size: 1.6rem;
}

.button {
  border: none;
  background-color: var(--Orange);
  border-radius: 1rem;
  height: 5.5rem;
  cursor: pointer;
  color: white;
  font-weight: bolder;
  font-size: 1.6rem;
  font-family: "Kumbh Sans";
  transition: filter 0.3s;
}

.button:hover {
  filter: brightness(1.5);
}

.img {
  display: block;
  height: auto;
  border-radius: 1rem;
}

/* ## Colors */

:root {
  /* ### Primary */

  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);

  /* ### Neutral */

  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%); /* (with 75% opacity for lightbox background) */

  --Orange-Bg: hsla(26, 100%, 55%, 0.281);
}

@media only screen and (max-width: 31.25em) {
  html {
    font-size: 2vw;
  }

  .button {
    height: 7.33rem;
    font-size: 2.3rem;
  }

  .e-commerce {
    width: 100vw;
  }
}

.btn--back{
  width: 15rem;
  display: grid;
  place-content: center;
}

.main__back{
  margin: 20rem;
}
