.navAccount {
  display: flex;
  align-items: center;
  gap: 4.5rem;
  position: relative;
}

.shoppingCart_container {
  position: relative;
  cursor: pointer;
}

.shoppingCart__popUp {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--Orange);
  color: var(--White);
  font-size: 1rem;
  display: grid;
  place-content: center;
  transform: translate(40%, -50%);
}

.shoppingCart {
  max-width: 2.5rem;
  height: auto;
  display: block;
}

.shoppingCart:hover {
  filter: invert(64%) sepia(61%) saturate(4127%) hue-rotate(347deg)
    brightness(102%) contrast(101%);
}

.avatar {
  max-width: 5rem;
  height: auto;
  display: block;
  border-radius: 50%;
  outline: solid 0px var(--Orange);
  cursor: pointer;
}

.avatar:hover {
  outline: 0.3rem solid var(--Orange);
  transition: outline 0.2s;
}
