nav{
  display: flex;
  gap: 5.5rem;
  align-items: center;
}

.nav-img-logo{
  max-width: 14rem;
  height: auto;
  display: block;
  cursor: pointer;
} 

.nav-list{
  display: flex;
  gap: 3rem; 
  
}

.nav-item{
  list-style: none;
  color: var(--Dark-grayish-blue);
  cursor: pointer;
  position: relative;
}

.nav-item:hover{
  color: var(--Black);
}

.nav-item::before{
  content: "";
  position: absolute;
  top: 6.4rem;
  height: 0.4rem;
  width: 0%;
  background-color: var(--Orange);
  cursor: auto;
}

.nav-item:hover::before{
  width: 100%;
  transition: width 0.3s;
}